.App {
  text-align: center;
  /* background-color: cornsilk; */
}

.App-section {
  padding: 30px;
}

.App-container {
   max-width: auto; 
  margin-left: auto;
  margin-right: auto;
}

.App-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 16px;  
} 