.App-footer {
  background-color: darkseagreen;
  border-top: 2px solid sienna;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-link {
  color: saddlebrown;
}