.App-header {
    background-color: darkseagreen;
    border-bottom: 2px solid sienna;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .App-header-logo {
    height: 30px;
  }