.App-search {
    margin-top: 20px;
    margin-bottom: 10px;
    /* border-radius: 10%; */
}

.App-search-input {
    width: 80%;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid sienna;
}