.BigPic {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-big-pic-bg {    
    background-color: rgba(0,0,0,0.803);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
}

.show-big-pic-content {      
    position: relative;   
}

.show-big-pic-content img {
    display: block;
    max-width: 100%;
    max-height: calc(100vh - 120px);
    margin-left: auto;
    margin-right: auto;    
}